.host {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;

  .form-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
  }

  .form-container {
   display: flex;
   flex-direction: column;
  // gap:2rem;

  .task-form {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 550px;
    padding: 0 10px

    label {
      font-size: 18px;
      font-weight: 500;
    }

    input, textarea, select {
      padding: 0.5rem;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      margin-top: 1.5rem;
      width: 100%;
      height: 45px;
      padding: 0.7rem;
      font-size: 16px;
      //background-color: #2d3dd0;
      //color: white;
      //border: none;
      border-radius: 4px;
      cursor: pointer;



      &:hover {
        background-color: #45a049;
      }
    }


      .accept-button {
        background-color: #376ef7 !important;
        color: white;
      }
      .reject-button {
        background-color: #ffffff;
        color: red;
        border: 1px solid red;
      }
  }
  }
}
