<section>
  <div class="header-container">
    <h5>COURE ASSESSMENT</h5>
  </div>

  <div class="body-container">
    <div class="toolbar">
      <div class="create-task">
 <button mat-raised-button color="primary" (click)="createTask()">
        <mat-icon>add_circle_outline</mat-icon> Create New Task
      </button>
      </div>


     <div class="table-filter">
        <mat-form-field appearance="outline">
          <mat-label>Priority</mat-label>
          <mat-select [(ngModel)]="filter.priority" (selectionChange)="onFilterChange()">
            <mat-option [value]="''">All</mat-option>
            <mat-option [value]="item" *ngFor="let item of PriorityOptions">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="filter.status" (selectionChange)="onFilterChange()">
            <mat-option [value]="''">All</mat-option>
            <mat-option [value]="item" *ngFor="let item of StatusOptions">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <button mat-icon-button (click)="clearFilters()" matTooltip="Clear filters">

         <span style=" width: 100%; display: flex; font-size: 14px; color: red;">clear filter <mat-icon>clear</mat-icon></span>
        </button> -->
      </div>
    </div>

    <div class="table">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 custom-table"
      >
        <!-- columns: title, dueDate, priority, status, actions -->
        <!-- Title -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let task">{{ task.title }}</td>
        </ng-container>

        <!-- Due Date -->
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef>Due</th>
          <td mat-cell *matCellDef="let task">
            {{ task.dueDate | date : "shortDate" }}
          </td>
        </ng-container>

        <!-- Priority -->
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef>Priority</th>
          <td mat-cell *matCellDef="let task">{{ task.priority }}</td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let task">{{ task.status }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let task">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="view(task)">
                <mat-icon>visibility</mat-icon>
                <span>View</span>
              </button>
              <button mat-menu-item (click)="edit(task)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="deleteTask(task.id)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="totalTasks"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 50]"
        showFirstLastButtons
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</section>
