.container {
  padding: 20px;
  text-align: center;
}

.icon-container {
  margin-bottom: 16px;
}

.icon-container mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: red;
}

.cancel {
  color: #f44336;
  background-color: #fff;
  border: 1px solid #f44336;
  border-radius: 5px;
}

.accept {
  color: #fff;
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  margin-left: 1rem;
}

mat-dialog-content {
  margin: 16px 0;
}

mat-dialog-content p {
  margin: 0;
  font-size: 16px;
}

mat-dialog-actions {
  gap : 1rem;
}
